@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Permanent+Marker&display=swap');
/*Header Section*/
    main {
        background-color: beige;
        margin: 0px;
        padding: 0px;
    }
    header {
        background-color: #6b8944;
        display: grid;
        grid-template-columns: 100px auto;
        padding: 15px;
    }
    header img {
        width: 100px;
        grid-column: 1/2;
        border-radius: 100%;
    }
    header nav {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-family: "Permanent Marker";
    }
    header nav a{
        color: #dbb632;
        font-size: x-large;
        background-color: #3d561d;
        padding: 15px 25px;
        border-radius: 15px;
    }
    header nav a:hover{
        color: #3d561d;
        background-color: #dbb632;
    }
/*End Header Section*/

/*Main Section*/
    /*Hero Section*/
        #hero{
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            padding: 10px;
        }
        #hero img{
            width: 100%;
            grid-column: 1/8;
        }
        #hero-text {
            grid-column: 8/11;
            padding: 15px;
            font-size: x-large;
            background-color: #3d561d;
            margin: 15px;
            color: white;
        }
    /*End Hero Section*/
    /*Attractions Section*/
        #attractions h1{
            justify-self: center;
            font-size: 3em;
            font-family: "Permanent Marker";
        }
        #images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 15px;
            row-gap: 15px;
            padding: 15px;
        }
        /*Image Grid Customization*/
            #balloon{
                grid-column: 1/2;
                grid-row: 1/3;
                display: grid;
            }
            #pie{
                grid-column: 2/3;
                grid-row: 2/3;
                display: grid;
            }
            #petting_zoo{
                grid-column: 2/3;
                grid-row: 1/2;
                display: grid;
            }
            #two_bunnies{
                grid-column: 3/4;
                grid-row: 1/3;
                display: grid;
            }
        .att_txt{
            width: 85%;
            height: 85%;
            background-color: black;
            opacity: 0%;
            color: white;
            padding: 15px;
            margin: 15px;
            justify-self: center;
            align-self: center;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .att_img{
            width: 100%;
            height: 100%;
            padding: 15px;
            justify-self: center;
            align-self: center;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .att_txt:hover {
            opacity: 0.75;
            transition: opacity 0.2s ease-in;
        }
    /*End Attractions Section*/
    /*Attractions Page*/
        /*Right Side*/
            .att_right {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                padding: 15px;
            }
            .att_right img{
                width: 100%;
                height: 100%;
                max-height: 1000px;;
                grid-column: 1/12;
                grid-row: 1/2;
            }

            .att_right .att_p_text{
                /*Size and Positioning*/
                width: 90%;
                height: 90%;
                justify-self: center;
                align-self: center;
                padding: 20px;
                border-radius: 25px;
                /*Grid*/
                grid-column: 9/13;
                grid-row: 1/2;
                /*Color and Formatting*/
                background-color: #dbb632;
                color: #3d561d;
                opacity: 0.9;
                font-family: "Parkinsans";
                font-size: x-large;
            }
        /*Left Side*/
            .att_left {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                padding: 15px;
            }
            .att_left img{
                width: 100%;
                height: 100%;
                max-height: 1000px;;
                grid-column: 2/13;
                grid-row: 1/2;
            }

            .att_left .att_p_text{
                /*Size and Positioning*/
                width: 90%;
                height: 90%;
                justify-self: center;
                align-self: center;
                padding: 20px;
                border-radius: 25px;
                /*Grid*/
                grid-column: 1/5;
                grid-row: 1/2;
                /*Color and Formatting*/
                background-color: #dbb632;
                color: #3d561d;
                opacity: 0.9;
                font-family: "Parkinsans";
                font-size: x-large;
            }
    /*End Attractions Page*/
    /*Contact Us Page*/
        form {
            justify-self: center;
            justify-items: center;
            align-self: center;
            align-items: center;
            border: solid black 3px;
            padding: 25px;
            margin: 25px;
        }

        #feedback {
            background-color: antiquewhite;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: .5em;
            /* make this element invisible until we are ready for it */
            display: none;      
        }
        .moveDown {
            margin-top: 3em;
        }
    /*End Contact Us Page*/
/*End Main Section*/

/*Footer Section*/
    p{
        font-family: "Parkinsans";
    }
    footer {
        background-color: #6b8944;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 15px;
        margin-top: 10px;
    }
    footer p{
        font-family: "Parkinsans";
    }
    footer p a{
        color: #dbb632;
        font-size: x-large;
        background-color: #3d561d;
        padding: 15px 25px;
        border-radius: 15px;
        font-family: "Permanent Marker";
    }
    footer p a:hover{
        color: #3d561d;
        background-color: #dbb632;
    }
/*End Footer Section*/

/*Contact Us*/
#contact-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}
.feedback {
    width: 100%;
    padding: 5px;
    justify-self: center;
    align-self: center;
}
#contact-grid #form{
    grid-column: 2/3;
    grid-row: 1/2;
}
/*End Contact Us*/